In [1]:
# Import dependencies
import pandas as pd
import datetime as dt

In [2]:
# Import data
file = "DisneyReviews.csv"
reviewsdf = pd.read_csv(file, encoding='latin-1')
reviewsdf.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670801367,5,2019-4,United States,This place has always been and forever will be...,Disneyland_California
1,670760708,5,2019-4,United States,A great day of simple fun and thrills. Bring c...,Disneyland_California
2,670565072,4,2019-5,Australia,All and all a great day was had. The crowds ar...,Disneyland_California
3,670544335,5,2019-4,United States,Having been to the Florida location numerous t...,Disneyland_California
4,670472278,5,2019-4,Canada,"Had the 4 day pass, spent 3 at DL and one at C...",Disneyland_California

In [3]:
# Format Year_Month to datetime
reviewsdf['YYYY-MM'] = pd.to_datetime(reviewsdf['Year_Month'], format='%Y-%m', errors='coerce')
reviewsdf.head()

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch,YYYY-MM
0,670801367,5,2019-4,United States,This place has always been and forever will be...,Disneyland_California,2019-04-01
1,670760708,5,2019-4,United States,A great day of simple fun and thrills. Bring c...,Disneyland_California,2019-04-01
2,670565072,4,2019-5,Australia,All and all a great day was had. The crowds ar...,Disneyland_California,2019-05-01
3,670544335,5,2019-4,United States,Having been to the Florida location numerous t...,Disneyland_California,2019-04-01
4,670472278,5,2019-4,Canada,"Had the 4 day pass, spent 3 at DL and one at C...",Disneyland_California,2019-04-01

In [4]:
# Drop duplicate reviews
reviewsdf.drop_duplicates(subset='Review_Text', inplace=True, keep='first')
reviewsdf

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch,YYYY-MM
0,670801367,5,2019-4,United States,This place has always been and forever will be...,Disneyland_California,2019-04-01
1,670760708,5,2019-4,United States,A great day of simple fun and thrills. Bring c...,Disneyland_California,2019-04-01
2,670565072,4,2019-5,Australia,All and all a great day was had. The crowds ar...,Disneyland_California,2019-05-01
3,670544335,5,2019-4,United States,Having been to the Florida location numerous t...,Disneyland_California,2019-04-01
4,670472278,5,2019-4,Canada,"Had the 4 day pass, spent 3 at DL and one at C...",Disneyland_California,2019-04-01
...,...,...,...,...,...,...,...
19401,1563280,5,missing,United States,I have taken my music groups to Disneyland for...,Disneyland_California,NaT
19402,1540854,5,missing,United States,This is definitely the Happiest Place on Earth...,Disneyland_California,NaT
19403,1534364,1,missing,United States,"never again...what a horrible experience, the ...",Disneyland_California,NaT
19404,1506324,5,missing,United States,We take a long weekend trip to California each...,Disneyland_California,NaT
19405,1398724,5,missing,United States,Disnyeland has to be the BEST place to take a ...,Disneyland_California,NaT

In [5]:
# Export transformed data to json
reviewsdf.to_json('reviews.json', orient='records')